/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #1997b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 700;
}

.login-container {
  background: rgb(48, 200, 220);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  width: 320px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}